@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
.header-container{
    width: 100%;
    min-height: 110px;
    /* background-color: violet; */
}
.header-div{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 100%;
}
.header-first-container{
    height: 70px;
    display: flex;
    flex-direction: column-reverse;
}
.header-first-div{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 35px;
    font-weight: 1000;
    display: flex;
}
.header-second-container{
    height: 80px;
    display: flex;
    
}
.header-second-div{
    padding-top: 10px;
    display: flex;
    
}
.header-second-para-div{
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
    color: grey
}
.header-second-tick-div{
    width: 30px;
    height: 20px;
    position: relative;
    padding-top: 5px;
    display: flex;
}
.star-shape{
    width: 20px;
    height: 20px;
}
.tick-sign{
    width: 8px;
    height: 8px;
    position: absolute;
    top: 43%;
    left: 21%;
}